footer {
  background-color: var(--footer-color);
  color: white;
}

.whatsapp {
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 10px;
  padding-right: 0;
  z-index: 10000000;
  width: 4em;
}

.grecaptcha-badge {
  display: none;
}

.pulse-effect {
  display: inline-block;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

footer {
  color: white;
  padding: 1em;
  background: #FFB131;
}

.modal-contato .wpcf7-list-item {
  margin: 0;
  margin-right: 1em;
}

.modal-contato .wpcf7-list-item label {
  font-size: 0.8em;
}

.modal-contato .wpcf7 form .modal-contato .wpcf7-response-output {
  display: none;
}

.modal-contato .wpcf7-form p {
  font-weight: 500;
  font-family: 'Manrope';
  color: black;
  margin: 0;
}

.wpcf7-spinner {
  display: none;
}

.modal-contato .wpcf7-form input {
  margin-bottom: 1em;
}

#copyright {
  color: white;
}

/* Grouped @media screen queries */

@media (max-width: 992px) {
  footer .container #content {
    padding: 0 5% !important;
    margin-bottom: 0 !important;
  }

  footer .container #content #about,
  footer .container #content #contact,
  footer .container #content #nav,
  footer .container #content #social-footer {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10% !important;
  }

  footer .container #content #about #offers {
    width: 100%;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }

  footer .container #content #social-footer div {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}

@media screen and (max-width: 576px) {
  ul#footer-menu {
    max-height: 100%;
  }

  .d-md-initial {
    display: none;
  }

  #copyright {
    padding: 1em;
  }

  .atendimentoButton {
    font-size: 1rem;
  }

  .atendimentoTitle {
    font-size: 1.5rem;
  }

  .footerImage {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 400px) {
  .atendimentoTitle {
    font-size: 1rem;
  }

  .atendimentoButton {
    font-size: 0.7rem;
  }

}

@media screen and (min-width: 576px) {
  footer {
    padding: 5em;
  }
  

  .atendimentoTitle {
    font-size: 3rem;
  }


  #copyright {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
  }

  #jit-logo {
    position: absolute;
    right: 0;
    transform: translate(-50%, 28%);
  }
}