#btn-destinos {
    width: 145px;
    height: 45px;
    background: #7B39E9;
    border-radius: 8px;
    border: none;
    color: white;
    filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.3));
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

@media screen and (min-width:576px) {
    #form-destino {
        width: 50%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 100;
        bottom: -7em;
        border-radius: 10px;
    }

    .pr-md-5 {
        padding-right: 8em;
    }

    .img-slide img {
        width: 50vw;
        float: left;
    }

    .img-slide-text {
        position: absolute;
        top: 50%;
        left: 60vw;
        color: white;
        transform: translateY(-50%) translateX(0%);
    }
}

@media screen and (max-width:1010px) {
    #form-destino {
        width: 70%;
    }
}

@media screen and (max-width:710px) {
    #form-destino {
        width: 85%;
    }
}

@media screen and (max-width:576px) {
    .img-slide img {
        width: 100vw;
    }

    .slider-container {
        height: 600px;
    }
    
    #slider-window {
        height: 600px;
    }

    .img-slide-text {
        height: 300px;
    }
    #form-destino {
        width: 100%;
    }
}

.slide-up,
.slide-down {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#slider-controls {
    width: 20px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 0;
    color: white;
    transform: translateY(-50%) translateX(-50%);
}
.pacote-thumb {
  width: 250px;
  height: 250px;
  transform: translateY(-10rem);
}
.post-frame{
    margin-top: 4em;
}
.pacote-info{
    height: fit-content;
    min-height: fit-content;
}
.btn-submitOrcamento{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.container #destinos .card,
.container #universities .card {
    cursor: pointer;
    overflow: hidden;
}

.container #destinos .card img,
.container #universities .card img {
    height: 35vw;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.container #destinos .card .card-text-background,
.container #universities .card .card-text-background {
    background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.container #destinos .card:hover img,
.container #universities .card:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 992px) {

    .container #destinos .col-6 .card img,
    .container #universities .col-6 .card img {
        max-height: 240px !important;
    }
}